@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ensure the toolbar stays at the top */
.quill-toolbar .ql-toolbar {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional, to add shadow for visibility */
  background-color: white;
}

/* Remove border around ReactQuill editor */
.ql-container {
  border: none !important;
}

.ql-toolbar {
  border: none !important;
}
