@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ensure the toolbar stays at the top */
.quill-toolbar .ql-toolbar {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.835); /* Optional, to add shadow for visibility */
  background-color: white;
}

/* Remove border around ReactQuill editor */
.ql-container {
  border: none !important;
  /* display: none; */
  z-index: 1;
  padding-top: 30px;
}

.ql-toolbar {
  border: none !important;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: black;
}

@media(max-width:804px){
  .ql-container {
  border: none !important;
  /* display: none; */
  z-index: 1;
  padding-top: 50px;
}
}